## MAC OS
.DS_Store

## TEXTMATE
*.tmproj
tmtags

## EMACS
*~
\#*
.\#*

## VIM
*.swp

## IDEA
.idea/*

## RVM
.rvmrc

## PROJECT::GENERAL
.bundle
coverage
Gemfile.lock
coverage.data
rdoc
pkg
*.gem

## PROJECT::SPECIFIC
tmp
